include ../../../data/clients-data

mixin clients__item(client)
  li.clients__item
    a.clients__link(href=client.link)
      picture.clients__image-wrapper
        if client.imageSvg
          img.clients__image(src=`img/clients/${client.imageSvg}` width=client.imageWidth height=client.imageHeight alt=client.imageDescription)
        else
          source(type='image/webp' srcset=`img/clients/${client.imageWebp}, img/clients/${client.imageWebp2x} 2x`)
          img.clients__image(src=`img/clients/${client.image}` srcset=`img/clients/${client.image2x} 2x` width=client.imageWidth height=client.imageHeight alt=client.imageDescription)

mixin clients
  section.clients&attributes(attributes)
    .container
      h2.visually-hidden Наши клиенты
      ul.clients__list
        each client in clients
          +clients__item(client)
